<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BTCTickr Bitcoin Price Analytics">
    <meta name="csrf-token" content="<%= _csrf %>">
    <link rel="shortcut icon" href="assets/ico/favicon.png">						<!-- TODO: make favicon -->

    <title> <%= title %> - Bitcoin Price Analytics </title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>

    <!--TODO - download these -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"> <span class="fa fa-btc" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" class="smoothScroll">Home</a></li>
			<li> <a href="/contact" class="smoothScroll"> Contact</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
               	<% if(!user){ %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Create Account</a></li>
               	<% } else { %>
               		<li class="dropdown">
                    	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    		<% if(user.profile.picture) { %>
                    			<img src="https://avatars.githubusercontent.com/u/3460750?v=3" style="width:40px"><%= user.profile.name || user.email || user.id %>&nbsp;<i class="caret"></i></img>
                    		<% } else { %>
                    			<img src="<%= user.gravatar(60) %>" style="width:25px"> &nbsp;<%= user.profile.name || user.email || user.id %> &nbsp; <i class="caret"></i></img>
                    		<% } %>
                    	</a>
                    	<ul class="dropdown-menu">
                    		<li><a href="/account"><span class="ion-person"></span>My Account</a></li>
                    		<li class="divider"></li>
                    		<li><a href="/logout"><span class="ion-log-out"></span> Logout</a></li>
                    	</ul>
                  	</li>
                <% } %>
				
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
		
         <% if(flash.errors) { %>
         	<div class="alert alert-danger fade in">
          	  <button type="button" data-dismiss="alert" class="close"><span class="ion-close-circled"></span></button>
          	  <% flash.errors.forEach(function(error){ %>
            	  <div><%= error.msg %></div>
              <% }); %>
         	</div>         
         <% } %>
         
         <div class="page-header">
            <h3>Sign in</h3>
         </div>
         <form method="POST">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <div class="col-sm-8 col-sm-offset-2">
               <div class="form-group"><label for="email" class="control-label">Email</label><input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control"></div>
               <div class="form-group"><label for="password" class="control-label">Password</label><input type="password" name="password" id="password" placeholder="Password" class="form-control"></div>
               <div class="form-group"><button type="submit" class="btn btn-primary"><span class="ion-android-hand"></span>Login</button><a href="/forgot" class="btn btn-link">Forgot your password?</a></div>
               <hr>
               <a href="/auth/facebook" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i>Sign in with Facebook</a><a href="/auth/twitter" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i>Sign in with Twitter</a><a href="/auth/google" class="btn btn-block btn-google-plus btn-social"><i class="fa fa-google-plus"></i>Sign in with Google</a><a href="/auth/github" class="btn btn-block btn-github btn-social"><i class="fa fa-github"></i>Sign in with GitHub</a><a href="/auth/linkedin" class="btn btn-block btn-linkedin btn-social"><i class="fa fa-linkedin"></i>Sign in with LinkedIn</a><a href="/auth/instagram" class="btn btn-block btn-instagram btn-social"><i class="fa fa-instagram"></i>Sign in with Instagram</a>
            </div>
         </form>
			</div>
		</div><!-- greywrap -->
		
		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6" style="background:url('http://www.prepbootstrap.com/Content/images/shared/shield/bg/divider6.jpg');">
			<div class="container">
				<h1>I BUILT THIS ON SATURDAY MORNINGS.  IN MY FREE TIME.  IN MY LOCAL COFFEESHOP</h1>
				<hr>
				<p>Feel free to show support by buying me coffee :)  &nbsp; <br/>
				I'm paying for the server, the email servicer, giving away my code, all out of the kindness of my heart.</p>
				<p><a class="fa fa-btc" href="https://www.changetip.com/tipme/jxm262" style="color: yellow"> <b>Donate some bits on ChangeTip!</b></a></p>
				<!-- -->
			</div><!-- container -->
		</section><!-- section -->
		


		<div id="footerwrap">
			<div class="container">
				<h4>Website Created by <a href="jmaat.me">Justin Maat</a> - Copyright 2015</h4>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/retina.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
	
  </body>
</html>
