<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BTCTickr Bitcoin Price Analytics">
    <meta name="csrf-token" content="<%= _csrf %>">
    <link rel="shortcut icon" href="assets/ico/favicon.png">						<!-- TODO: make favicon -->

    <title> <%= title %> - Bitcoin Price Analytics </title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>

    <!--TODO - download these -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"> <span class="fa fa-btc" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" class="smoothScroll">Home</a></li>
			<li> <a href="/contact" class="smoothScroll"> Contact</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
               	<% if(!user){ %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Create Account</a></li>
               	<% } else { %>
               		<li class="dropdown">
                    	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    		<% if(user.profile.picture) { %>
                    			<img src="https://avatars.githubusercontent.com/u/3460750?v=3" style="width:40px"><%= user.profile.name || user.email || user.id %>&nbsp;<i class="caret"></i></img>
                    		<% } else { %>
                    			<img src="<%= user.gravatar(60) %>" style="width:25px"> &nbsp;<%= user.profile.name || user.email || user.id %> &nbsp; <i class="caret"></i></img>
                    		<% } %>
                    	</a>
                    	<ul class="dropdown-menu">
                    		<li><a href="/account"><span class="ion-person"></span>My Account</a></li>
                    		<li class="divider"></li>
                    		<li><a href="/logout"><span class="ion-log-out"></span> Logout</a></li>
                    	</ul>
                  	</li>
                <% } %>
				
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
		
         <% if(flash.errors) { %>
         	<div class="alert alert-danger fade in">
          	  <button type="button" data-dismiss="alert" class="close"><span class="ion-close-circled"></span></button>
          	  <% flash.errors.forEach(function(error){ %>
            	  <div><%= error.msg %></div>
              <% }); %>
         	</div>         
         <% } %>
         
         <% if(flash.success) { %>
         	<div class="alert alert-success fade in">
          	  <button type="button" data-dismiss="alert" class="close"><span class="ion-close-circled"></span></button>
          	  <% flash.success.forEach(function(_success){ %>
            	  <div><%= _success.msg %></div>
              <% }); %>
         	</div>         
         <% } %>         
         
         <div class="page-header">
            <h3>Profile Information</h3>
         </div>
         <form action="/account/profile" method="POST" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <div class="form-group">
               <label for="email" class="col-sm-2 control-label">Email</label>
               <div class="col-sm-4"><input type="email" name="email" id="email" value="<%= user.email %>" class="form-control"></div>
            </div>
            <div class="form-group">
               <label for="name" class="col-sm-2 control-label">Name</label>
               <div class="col-sm-4"><input type="text" name="name" id="name" value="<%= user.profile.name %>" class="form-control"></div>
            </div>
            <div class="form-group">
               <label for="gender" class="col-sm-2 control-label">Gender</label>
               <div class="col-sm-4"><label class="radio"><input type="radio" name="gender" value="male" data-toggle="radio"><span>Male</span></label><label class="radio"><input type="radio" name="gender" value="female" data-toggle="radio"><span>Female</span></label></div>
            </div>
            <div class="form-group">
               <label for="location" class="col-sm-2 control-label">Location</label>
               <div class="col-sm-4"><input type="text" name="location" id="location" value="<%= user.profile.location %>" class="form-control"></div>
            </div>
            <div class="form-group">
               <label for="website" class="col-sm-2 control-label">Website</label>
               <div class="col-sm-4"><input type="text" name="website" id="website" value="<%= user.profile.website %>" class="form-control"></div>
            </div>
            <div class="form-group">
               <label for="gravatar" class="col-sm-2 control-label">Gravatar</label>
               <div class="col-sm-4"><img src="<%= user.gravatar() %>" width="100" height="100" class="profile"></div>
            </div>
            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-4"><button type="submit" class="btn btn btn-primary"><span class="ion-edit"></span>Update Profile</button></div>
            </div>
         </form>
         <div class="page-header">
            <h3>Change Password</h3>
         </div>
         <form action="/account/password" method="POST" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <div class="form-group">
               <label for="password" class="col-sm-3 control-label">New Password</label>
               <div class="col-sm-4"><input type="password" name="password" id="password" class="form-control"></div>
            </div>
            <div class="form-group">
               <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
               <div class="col-sm-4"><input type="password" name="confirmPassword" id="confirmPassword" class="form-control"></div>
            </div>
            <div class="form-group">
               <div class="col-sm-offset-3 col-sm-4"><button type="submit" class="btn btn btn-primary"><span class="ion-locked"></span>Change Password</button></div>
            </div>
         </form>
         <div class="page-header">
            <h3>Delete Account</h3>
         </div>
         <p>You can delete your account, but keep in mind this action is irreversible.</p>
         <form action="/account/delete" method="POST"><input type="hidden" name="_csrf" value="<%= _csrf %>"><button type="submit" class="btn btn-danger"><span class="ion-trash-b"></span>Delete my account</button></form>
         <div class="page-header">
            <h3>Linked Accounts</h3>
         </div>
         <p><a href="/auth/instagram">Link your Instagram account</a></p>
         <p><a href="/auth/google">Link your Google account</a></p>
         <p><a href="/auth/facebook">Link your Facebook account</a></p>
         <p><a href="/auth/twitter">Link your Twitter account</a></p>
         <p><a href="/auth/github">Link your GitHub account</a></p>
         <p><a href="/auth/linkedin">Link your LinkedIn account</a></p>
				
			</div>
		</div><!-- greywrap -->
		
		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6" style="background:url('http://www.prepbootstrap.com/Content/images/shared/shield/bg/divider6.jpg');">
			<div class="container">
				<h1>I BUILT THIS ON SATURDAY MORNINGS.  IN MY FREE TIME.  IN MY LOCAL COFFEESHOP</h1>
				<hr>
				<p>Feel free to show support by buying me coffee :)  &nbsp; <br/>
				I'm paying for the server, the email servicer, giving away my code, all out of the kindness of my heart.</p>
				<p><a class="fa fa-btc" href="https://www.changetip.com/tipme/jxm262" style="color: yellow"> <b>Donate some bits on ChangeTip!</b></a></p>
				<!-- -->
			</div><!-- container -->
		</section><!-- section -->
		


		<div id="footerwrap">
			<div class="container">
				<h4>Website Created by <a href="jmaat.me">Justin Maat</a> - Copyright 2015</h4>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/retina.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
	
  </body>
</html>
